* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(#1f3756, #141539);
  color: #fff;
}

.header-row {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.header-row h2 {
  font-size: 2rem;
}

.main {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 95%;
  min-width: 30%;
}

.players-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}

.btn-row {
  display: flex;
  justify-content: space-around;
}

.btn-row button {
  margin: 0.5rem;
}

.box {
  border: solid 6px #cecece;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  padding: 1rem 0.1rem;
}

@media screen and (min-width: 600px) {
  .box {
    padding: 4rem 2.25rem 2.25rem;
  }
}

.btn {
  background-color: transparent;
  border: solid 2px #fff;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  text-align: center;
  white-space: nowrap;
  font-weight: 700;
}

.btn:hover {
  background-color: rgb(232, 232, 232);
  color: #1f3756;
}

.btn:active {
  background-color: rgb(194, 194, 194);
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.game-row {
  display: flex;
  justify-content: center;
  margin: 10rem;
}

.count {
  font-size: 4rem;
}
